.blocks
    .block
        &:last-child
            &:is(.block-call_to_action, .block-chapter--accent_background, .block-chapter--alt_background, .block-timeline--horizontal, .block-pages--cards)
                margin-bottom: $block-space-y
        .block-title
            @include h3
            font-style: italic
            text-transform: none
        &-call_to_action
            .block-title
                @include in-page-with-sidebar
                    text-transform: none
            &--accent_background
                @include in-page-without-sidebar
                    overflow: hidden
                    position: relative
                    z-index: 0
                    .call_to_action
                        &--with-image
                            &::before
                                background: var(--color-background)
                                content: ""
                                height: 100%
                                left: 0
                                position: absolute
                                top: calc(100%)
                                transform-origin: bottom left
                                transform: rotate(-4deg)
                                width: 120%
                                z-index: -1
                            .actions
                                margin-bottom: $spacing-6
                            figcaption
                                color: $color-marron-sur-bleu
                            figure
                                grid-column: 7 / 13
                                
        &-key_figures
            ul
                li
                    dl
                        dt, strong
                            color: $color-official-blue
                        picture.is-png
                            img
                                max-width: initial
                        @include media-breakpoint-down(md)
                            align-items: center
                            display: flex
                            gap: $spacing-1
                            flex-wrap: nowrap
                            dt
                                display: flex
                                align-items: center
                                gap: $spacing-2
                            dd
                                margin-top: auto
                                margin-bottom: auto
                @include in-page-without-sidebar
                    text-align: center
                    img
                        margin-left: auto
                        margin-right: auto

        &-pages
            &--large.with-images
                .page-title
                        a
                            text-decoration: none
                            transition-property: color
                            &:hover
                                text-decoration: none
                            // &::after
                            //     content: ""
                p.more.meta
                    color: $color-accent
                    font-family: $heading-font-family
                    font-weight: 300

                @include in-page-without-sidebar
                    .page
                        .page-content
                            font-family: $heading-font-family
                            .page-title
                                margin-bottom: $spacing-4
                                font-size: pxToRem(44)
                            > p
                                font-size: pxToRem(27)
                                line-height: 130%
                                font-weight: 300
                        .media
                            aspect-ratio: 7 / 5
                        p.more.meta
                            margin-top: $spacing-4
                            &::after
                                content: ""

            &--list
                .list
                    .post
                        @include media-breakpoint-up(desktop)
                            border-bottom: none
                            padding-bottom: 0
                            .post-content
                                display: flex
                                flex-direction: row
                                gap: var(--grid-gutter)
                                width: columns(9)
                                .post-title
                                    width: columns(3)
                                p[itemprop="articleBody"]
                                    margin-top: 0
                                    width: columns(6)
                            .post-meta
                                display: none

        &-testimonials
            blockquote
                p
                    letter-spacing: -.05rem
