.blocks
    .block
        &:last-child
            &:is(.block-call_to_action, .block-chapter--accent_background, .block-chapter--alt_background, .block-timeline--horizontal, .block-pages--cards)
                margin-bottom: $block-space-y
        .block-title
            @include h3
            body:not(.programs__section) &
                font-style: italic
                text-transform: none
        &-chapter
            &--accent_background,
            &--alt_background
                + .block-chapter--alt_background,
                + .block-chapter--accent_background
                    margin-top: $block-space-y !important
        &-call_to_action
            .block-title
                @include in-page-with-sidebar
                    text-transform: none
            &--accent_background
                @include in-page-without-sidebar
                    overflow: hidden
                    position: relative
                    z-index: 0
                    .call_to_action
                        &--with-image
                            &::before
                                background: var(--color-background)
                                content: ""
                                height: 100%
                                left: 0
                                position: absolute
                                top: calc(100%)
                                transform-origin: bottom left
                                transform: rotate(-4deg)
                                width: 120%
                                z-index: -1
                            .actions
                                margin-bottom: $spacing-6
                                
                            figcaption
                                color: $color-brown
                            figure
                                grid-column: 7 / 13
                                
        &-key_figures
            ul
                li
                    strong
                        color: $color-official-blue
                    @include media-breakpoint-down(md)
                        align-items: center
                        display: flex
                        gap: $spacing-1
                        flex-wrap: nowrap
                        span:first-child
                            display: flex
                            align-items: center
                            gap: $spacing-2
                        span:last-child
                            margin-top: auto
                            margin-bottom: auto
                @include media-breakpoint-up(md)
                    text-align: center
                    img
                        margin-left: auto
                        margin-right: auto
        &-pages
            &--list
                ul:not(.title-only) li + li
                    border-top: 1px solid var(--color-border)
                    margin-top: $spacing-4
                    padding-top: $spacing-4
        &-programs
            &--grid
                .programs-grid 
                    .program 
                        .program-title
                            a
                                @include icon(arrow-right-line, after, true)
                                @include hover-translate-icon
                        .more
                            display: none

        &-testimonials
            blockquote
                p
                    letter-spacing: -.05rem
        &-links
            .media
                picture.is-svg
                    img
                        max-width: 100%