// shame ( en attendant fix du theme)
.programs__section main
    padding-bottom: var(--spacing-5)

////// SECTION ACCUEIL
.page__home
    .hero--with-image
        > .container
            .content
                .hero-text
                    @include media-breakpoint-up(desktop)
                        width: columns(7)
    .blocks
        .block
            &-key_figures
                h2.block-title
                    @include h2
                    font-style: normal
                    text-align: center
            &-call_to_action
                &.block-titled
                    h2.block-title
                        font-size: $body-size
                        font-family: $body-font-family
                        font-style: normal
                        @include media-breakpoint-up(desktop)
                            font-size: $body-size-desktop

////// SECTION LOCATION (CAMPUS)
.locations__term
    .document-content
        > .diplomas
            .programs .program
                // &-contact
                //     a + a
                //         color: $color-official-blue // Not contrast enough
                @include media-breakpoint-down(md)
                    flex-direction: column
                    .media
                        display: block
                        order: -1
                @include media-breakpoint-up(md)
                    flex-direction: row
                    justify-content: start
                    .program-content
                        flex-grow: 0
                        width: columns(6)
                    .program-contact
                        flex: 1
                        text-align: right
                        width: columns(3)
                    .media
                        width: columns(3)


////// SECTION PROGRAMS
body.programs__section,
body.diplomas__term
    .hero
        > .container
            .content
                @include media-breakpoint-up(md)
                    .hero-text
                        width: columns(7)
                    .hero-logos
                        align-self: end
                        align-items: center
                        flex-direction: row
                        width: columns(5)
                        z-index: 2
                        .logo
                            width: columns(3)
                @include media-breakpoint-down(md)
                    flex-direction: column
        .essential-container
            .essential
                @include media-breakpoint-up(desktop)
                    grid-gap: 0
                    width: columns(7)
                    dt
                        font-family: $heading-font-family
                        font-size: pxToRem(22)
                        font-weight: 400
                        &:not(:last-of-type)
                            border-bottom: 1px solid $color-brown-3
                    dd
                        text-align: right
                        font-size: pxToRem(19)
                        font-weight: 400
                        &:not(:last-of-type)
                            border-bottom: 1px solid $color-brown-3
            .hero-actions
                .dropdown-share
                    .dropdown-menu
                        a:hover
                            color: white

    .document-content
        counter-reset: section
        .content
            > h2
                @include h3
                font-style: italic
                @include media-breakpoint-down(desktop)
                    &::before
                        @include h1
                        font-style: normal
                        counter-increment: section
                        content: counter(section) "."
                @include media-breakpoint-up(desktop)
                    &::after
                        margin-top: $spacing-1
                        display: block
                        @include h1
                        font-style: normal
                        counter-increment: section
                        content: counter(section) "."
            .featured-image
                display: none

            section:not(:first-child):not(.block)
                @include media-breakpoint-up(desktop)
                    margin-top: 0
            section:not(:first-of-type):not(.block)
                @include media-breakpoint-up(desktop)
                    margin-top: $spacing-6
            .blocks
                .block
                    h2.block-title
                        font-style: normal
            #couts-de-la-formation-initiale
                background-color: #00A1E6
                padding: pxToRem(55) pxToRem(30)
            #couts-de-la-formation-continue
                background-color: #7dc3ed
                padding: pxToRem(55) pxToRem(30)
                margin-top: var(--grid-gutter)
            #couts-de-lapprentissage
                background-color: #b0daf4
                padding: pxToRem(55) pxToRem(30)
                margin-top: var(--grid-gutter)

        #admission
            #contacts
                position: relative
                p
                    margin-left: calc(60px + var(--grid-gutter))
                    &::before
                        position: absolute
                        left: 0px
                        content: " "
                        width: 60px
                        height: 60px
                        background-image: url('/assets/images/contact-logo.svg')
                        background-repeat: no-repeat
                        background-size: contain
                    a
                        text-decoration: none
                        color: $color-accent
                @include media-breakpoint-down(sm)
                    p
                        margin-left: calc(40px + var(--grid-gutter))
                        &::before
                            width: 40px
                            height: 40px

        &.diploma-but-secondaire,
        &.diploma-but-tertiaire
            .block-chapter
                &--alt_background
                    .chapter
                        li::before
                            color: $color-text
        &.diploma-but-secondaire
            .block-chapter
                &--alt_background
                    background-color: $color-green
                    .chapter
                        background-color: $color-green
                        color: black
                        li::before
                            color: $color-text
        &.diploma-but-tertiaire
            .block-chapter
                &--alt_background
                    background-color: $color-orange
                    .chapter
                        background-color: $color-orange
                        color: black
                        li::before
                            color: $color-text
