<div class="footer-social">
  <div class="social-container">
    <p>{{ i18n "footer.follow" }}</p>
    {{ with site.Params.contact_details }}
      <ul class="footer-social site-links">
        {{ partial "commons/socials" (dict
            "use_default_email_label" true
            "context" .
          )}}
      </ul>
    {{ end }}
  </div>
</div>

<div class="container">
  <div class="footer-iut">
    <div class="footer-logo">
      {{ partial "footer/logo.html" }}
    </div>
    <div class="footer-site">
      {{ partial "footer/site.html" }}
    </div>
  </div>

  {{ partial "footer/footer-partners.html" }}
</div>

{{ if in site.Params.i18n.positions "footer" }}
  {{ partial "commons/i18n.html" (dict
      "context" .
      "position" "footer"
    )}}
{{ end }}

<div class="footer-legals">
  {{ partial "footer/legals.html" . }}
</div>
