<div class="footer-social">
  <div class="social-container">
    <p>Suivez-nous</p>
    {{ with site.Params.contact_details }}
      <ul class="footer-social site-links">
        {{ partial "commons/socials" (dict
            "use_default_email_label" true
            "context" .
          )}}
      </ul>
    {{ end }}
  </div>
</div>

<div class="container">
  <div class="footer-iut">
    <div class="footer-logo">
      {{ partial "footer/logo.html" }}
    </div>
    <div class="footer-site">
      {{ partial "footer/site.html" }}
    </div>
  </div>
  <div class="footer-partners">
      <img src="/assets/images/uni-bordeaux.svg" alt="Université de Bordeaux" loading="lazy" />
      {{ partial "commons/menu.html"
        (dict
          "kind" "footer-bouton-contact"
          "dropdown" false
          "level" 1
          "context" .
        ) 
      }}
  </div>
</div>

{{ partial "footer/i18n.html" . }}
<div class="footer-legals">
  {{ $menu := partial "GetMenu" "legal" }}
  {{ with $menu }}
  <ul class="nav-legal nav-level-1">
    {{ range .items -}}
      {{- $link_class := "" -}}
      {{- $attr := "" -}}
      {{- $attr_title := "" -}}
      {{ if eq .context.RelPermalink .target }}
        {{ $link_class = "active" }}
      {{ end }}
      <li>
          <a href="{{ .target }}"{{ if ne $link_class ""}} class="{{ $link_class }}"{{ end }} {{ safeHTMLAttr $attr }} {{ safeHTMLAttr $attr_title }}>{{ .title }}</a>
      </li>
      {{ end -}}
      <li class="footer-credit">{{ safeHTML (i18n "commons.credit") }}</li>
  </ul>
{{ end }}
</div>